Sources/tbldefs/iT_NonInclus.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
	<xsd:element name="dataroot">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="iT_NonInclus" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="generated" type="xsd:dateTime"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="iT_NonInclus">
		<xsd:annotation>
			<xsd:appinfo>
				<od:index index-name="PrimaryKey" index-key="IDApp " primary="yes" unique="yes" clustered="no" order="asc"/>
				<od:index index-name="T_AppiT_NonInclus" index-key="IDApp " primary="no" unique="yes" clustered="no" order="asc"/>
				<od:tableProperty name="PublishToWeb" type="2" value="1"/>
				<od:tableProperty name="Orientation" type="2" value="0"/>
				<od:tableProperty name="OrderByOn" type="1" value="0"/>
				<od:tableProperty name="DefaultView" type="2" value="2"/>
				<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
				<od:tableProperty name="TotalsRow" type="1" value="0"/>
				<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
				<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
				<od:tableProperty name="HideNewField" type="1" value="0"/>
				<od:tableProperty name="BackTint" type="6" value="100"/>
				<od:tableProperty name="BackShade" type="6" value="100"/>
				<od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
				<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
				<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
				<od:tableProperty name="AlternateBackShade" type="6" value="95"/>
				<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
				<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
				<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
				<od:tableProperty name="RowHeight" type="3" value="300"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IDApp" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="1"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="40"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Nom" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="50"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Valeur" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="2748"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="0"/>
							<od:fieldProperty name="TextFormat" type="2" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AppendOnly" type="1" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="536870910"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="bType" minOccurs="0" od:jetType="byte" od:sqlSType="tinyint" type="xsd:unsignedByte">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
							<od:fieldProperty name="DefaultValue" type="12" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
